
.name{
    background-image: url("../image/child.jpg");
    margin:auto;
}
.name1 h1{
    margin-top: 50px;
    font-size: 50px;
    text-align: center;
    
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 1em;
    word-spacing: 2em;
}
.name1 h2{
    background-color: aliceblue;
    margin-top: 80px;
    text-align: center;
    text-transform: uppercase;
}

.education{
    position: relative;
}

.school{
    top: 5em;
    margin-left: 70%;
    position: absolute;
    width: 30em;
    background-color: aliceblue;
    text-align: center;
    color: #c3d618;
    list-style-image: url(../image/list.jpg);
}

.education a {color: #ffcc00;}
.education a:hover {color:#ff0000;}

.experiencebackground{
    background-color: white;  
}

.experience h1{
    font-family: "Brush Script MT", Brush Script Std, cursive;
    font-size: 80px;
    color: rgb(255, 61, 245);
    text-shadow: 0 0 20px #24e6dc,
            10px -10px 30px #ffef13;
    margin-top: 10px;
    margin-bottom: -10px;
          
}

.skill{
    margin-top: -10em;
    position: absolute;
    margin-left: 60%;
}
.workphoto{
    margin-left: 55%;
    margin-top: 20em;
    position: absolute;
}
.experience{
    margin-top: 30px;
    float: left;
    width: 50%;
    text-align: center;
    border-top: 10px rgb(250, 11, 11) dotted;
    border-left: 10px rgb(246, 250, 11) dotted;
    border-bottom: 10px rgb(11, 250, 23) dotted;
    border-right: 10px rgb(11, 250, 250) dotted;
    
}

.experience h3, .experience h4{
    text-align: center;
    margin-top: -20px;
}

.experience li{
    list-style-image: url(../image/list.jpg);
    text-align: left;
}


#contactbutton{
   
    width: 5em;
    position: fixed;
    right: 0;
    bottom: 30%;
}

.experience table, .experience th, .experience td{
    background-color: antiquewhite;
    text-align: center;
    margin: auto;
    width: 600px;
    border: 1px solid black;

}

p{
    position: fixed;
    right: 0;
    bottom: 10%;
}